<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <div class="form-control">
                <label for="imageUrl">To</label>
                <input type="email" name="email_to" id="email_to" value="<% if (editing) { %><%= product.imageUrl %><% } %>" required>
            </div>
            <div class="form-control">
                <label for="title">Eamil Title</label>
                <input type="text" name="email_title" id="title" value="<% if (editing) { %><%= product.title %><% } %>" >
            </div>
             
            <div class="form-control">
                <label for="description" >Description</label>
                <textarea name="description" id="description" rows="5" required><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Send  Email<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>