<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.email_title %></h1>
            <hr>
           
            <h2><%= product.email_to %></h2>
            <p><%= product.description %></p>
         </main>
        <%- include('../includes/end.ejs') %>